@font-face {
  font-family: 'Nunito';  
  src: url(./Fonts/Nunito-VariableFont_wght.ttf) format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    background-color:#e5e7eb;
    font-family: 'Nunito';
  }

  a{
    text-decoration: none;
  }

  .container{
    max-width: 1280px;
    margin: auto;
    padding: 0 12px;
  }

  .title{
    text-align: center;
    font-weight: 700;
    margin: 3em 0;
    font-size: 36px;
  }